html, body {
  margin: 0;
  position: relative;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  text-align: center;
  height: 640px;
}

.btn-modal {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px;
  border: none;
  color: green;
  background: brown;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: 2em;
}

.btn-modal:hover {
  background-color: green;
  border: none;
  color: black;
}

.btn-modal:focus {
  outline: none;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 600px;
  outline: 1px solid red;
}

.container.modal-bg {
  background: rgba(0, 0, 0, 0.5);
}

.container .handler-interface {
  position: relative;
  z-index: 4;
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.container .handler-interface.hidden {
  display: none;
}

.container .handler-interface div {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.container .content-box {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 6px;
}

.container .content-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.container .content-box::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.container .content-box::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.container .content-box.text-blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.container .content-box > p {
  font-size: 1em;
  margin: 0;
  position: absolute;
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .content-box .blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
}

.container .content-box .modal-window {
  width: 400px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 3;
}

.container .content-box .modal-window.hidden {
  display: none;
}

.container .content-box .modal-window .modal-content {
  -webkit-filter: blur(0);
          filter: blur(0);
  color: white;
  font-size: 3em;
}

.container .content-box .modal-window .modal-content span {
  font-size: 14px;
}

.container .user-initials-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .user-initials-area .initials {
  text-align: start;
}

.container .user-initials-area .initials.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.container .user-initials-area .initials.not-edited > p > span {
  color: grey;
}

.container .user-initials-area .initials span {
  float: right;
  width: 200px;
  margin-left: 10px;
  text-align: start;
}

.container .user-initials-area .initials span.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.container .user-initials-area .user-avatar {
  width: 100px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .user-initials-area .user-avatar img {
  width: 100%;
  border-radius: 50%;
}

.container .user-initials-area .user-avatar img.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.container .blur-button {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
/*# sourceMappingURL=main.css.map */